<form class="greenform" action="/tasks/<%= @task.id %>" method="post">
<h2>Edit Task:</h2>
<input type="hidden" name="_method" value="patch">

<textarea name="name" style="width:auto; height:auto;" required>
<%= @task.name %>
</textarea>
<br>
<input type="submit" value="Confirm">
</form>


