<h1>Index page for Tasks</h1>

<% @tasks.each do |task|%>
    <a href="/tasks/<%= task.id %>"><%= task.name %></a><br>
    <%= task.user.username %><br>
    <%= task.status %>
    <br><br>
<% end %>


<a href="/">Home</a>