<h2>Create a new task</h2>
<br>

<form action="/tasks" method="POST">
<label for="new_task">New Task</label>
<input type="text" name="name" value="" required>
<input type="submit" value="Submit" id="Submit">
</form>

