<div class="new">
<form action="/tasks" method="POST" class="greenform">
<h2>Create a new task</h2>

<p class="flash"><%= flash[:message] %></p>

<input type="text" name="name" value="" placeholder="New Task" required>
<br>
<input type="submit" value="Submit" id="Submit">
<br>
</form>
</div>

