<div>
<h1>Hello, <%= @user.username %>!</h1>

<h3>Here are your tasks:</h3>
<% Task.all.each do |task|%>
<% if task.user_id == current_user.id %>
<%= task.name %><br>
<!-- have edit button, maybe a pencil image, would render the task edit form 
     have delete button, maybe a garbage can image, would display a warning and then destroy task  -->
<% end %>
<% end %>

<p><a href="/logout">Log Out.</a></p>

</div>