<div class="purpleform">
<h1>To-Do List</h1>
<h2>Be productive.</h2>

<form action="/login" method="POST">

<p class="flash"><%= flash[:message] %></p>

<input type="text" name="username" placeholder="username" required><br>

<input type="password" name="password" placeholder="password" required><br>

<input type="submit" value="Login" id="Submit">

</form><br>
<p>Haven't started your to-do list?<br> <a href="/signup">Sign Up.</a></p>
</div>
