<div>
<form action="/login" method="POST">

<p class="flash"><%= flash[:message] %></p>

<label for="username">Username:</label>
<input type="text" name="username" id="usename" required>

<label for="password">Password:</label>
<input type="password" name="password" id="password" required>

<input type="submit" value="Login" id="Submit">

</form>


</div>