<div class="center">
<h1>Sign Up and Get Started!</h1>
<form action="/users" method="POST" class="greenform">
  <p class="flash"><%= flash[:message] %></p>
  <input type="text" name="username" placeholder="username" value="" required></p>
  <input type="text" name="password" placeholder="password" value="" required></p>
  <input type="submit" value="Sign Up">
</form>
<a href="/" id="def">Back</a><br>
</div>
