<div>
<h1>Sign Up</h1>
<form action="/users" method="POST">
  <p class="flash"><%= flash[:message] %></p>
  <p>Username: <input type="text" name="username" value="" required></p>
  <p>Password: <input type="text" name="password" value="" required></p>
  <input type="submit" value="Sign Up">
</form>
<a href="/">Back</a>
</div>
